# Python & Build cache
__pycache__/
*.pyc
*.pyo
build/
dist/
*.spec

# Ocultar carpeta de desarrollo local en Git
desarrollo/
src/
config.json

# IDEs y SO
.vscode/
.idea/
Thumbs.db
Desktop.ini

# Por defecto ignorar ejecutables en la raíz, pero PERMITIR la carpeta Release
*.exe
!Release/
!Release/*
!Release/Key-sound-control.exe
